body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
   
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /*sfondo della barra di navigazioine
  .barra_di_navigazione {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Stili all'interno della barra di navigazione 
  .barra_di_navigazione a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Campio colore al passaggio del mause 
  .barra_di_navigazione a:hover {
    background-color: #ddd;
    color: black;
  }
 
  /* Cambia colore alla pagina del menù in cui sei dentro 
  .barra_di_navigazione a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /*Nascondi i link delle pagine collegate al menù
  .barra_di_navigazione .icon {
    display: none;
  }
  

  @media screen and (max-width: 600px) {
    .barra_di_navigazione a:not(:first-child) {display: none;}
    .barra_di_navigazione a.icon {
      float: right;
      display: block;   
    }
  }
  
  @media screen and (max-width: 600px) {
    .barra_di_navigazione.responsive {position: relative;}
    .barra_di_navigazione.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .barra_di_navigazione.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  .barra_di_navigazione {
    display: flex;
    justify-content: center;
    background-color: #333;
    overflow: hidden;
  }
  
  .barra_di_navigazione a {
    font-size: 20px;
    padding: 18px  80px;
    text-decoration: none;
    color: #f2f2f2;
    text-align: center;
  }

  .pulsante-sinistra {
    background-color: #04AA6D;
    color: white;
    border: none;
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

  }
      */

/* Bottone Home */
.btn-home {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #04AA6D;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
  }
  
  /* Barra centrale */
  .barra_di_navigazione {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto 0; /* margine dall'alto per lasciare spazio al bottone Home */
    width: 80%;
    background-color: #2c2c2c;
    height: 60px;
    box-sizing: border-box;
  }
  
  /* Pulsanti della barra */
  .barra_di_navigazione a {
    flex: 1; /* ogni pulsante occupa lo stesso spazio */
    text-align: center;
    line-height: 60px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
  }
  
  .barra_di_navigazione a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .barra_di_navigazione a.active {
    background-color: #04AA6D;
    color: white;
  }
  